* {
  margin: 0;
  box-sizing: border-box;
}

/* Styles for larger screens (e.g., desktop) */
.nav {
  background: #ffffff;
  font-size: 25px;
  border-bottom: 1px solid blue;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: end;
  padding-bottom: 15px;
  position: fixed;
  top: 0;
}
.App {
  height: 100vh;
}
.sub-container {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer {
  height: 55px;
  width: 100%;
  background: #f79918;
  margin-top: 1rem;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons {
  font-size: 33px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 200px;
}
.iconfa {
  cursor: pointer;
}

.search-container {
  font-size: 50px;
  background: #f79918;
  border: none;
  color: white;
  display: inline-flex;
  border-radius: 30px;
}
.search-container .icon {
  width: 62px;
  height: 41px;
  color: white;
}
.search-container input {
  font-size: 20px;
  border: none;
  background: #f79918;
  border-radius: 30px;
}

.menu-icon {
  font-size: 30px;
}
input[type="text"] {
  border: none;
}
input:focus {
  outline: none;
  border: none;
  color: white;
}

/* Wrapper menu */
.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 350px;
  height: 1vh;
  background-color: #413d3d;
  color: #ffffff;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}
.wrapper.active-popup {
  opacity: 1;
  pointer-events: auto;
  height: 100vh;
}
.menu-click {
  cursor: pointer;
}
.close {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; /* Change from "end" to "flex-end" for proper alignment */
  align-items: center;
  height: 65px;
}
.close-icon {
  width: 54px;
  height: 54px;
  fill: #f79918;
  cursor: pointer;
}
.menus {
  height: 500px;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  font-size: 1rem;
}

.menus a {
  text-decoration: none;
  color: #ffffff;
}
.menus a:hover {
  transition: 0.3s;
  color: #f79918;
}
.menus .home {
  color: #f79918;
}
.menus .home:hover {
  transition: 0.3s;
  color: #ffffff;
}
.menus .login {
  color: #f79918;
}
.menus .login:hover {
  transition: 0.3s;
  color: #ffffff;
}
.menus h2 {
  padding-left: 40px;
  padding-top: 15px;
  cursor: pointer;
}
.card {
  width: 280px;
  height: 350px;
  background-color: #f2f2f2;
  /* border-radius: 15px; */
  margin-top: 25px;
  margin-left: 25px;
  padding: 1rem 2rem;
}
/* .card-img {
  width: 280px;
  height: 160px;
} */
.avatar-img {
  height: 40px;
  width: 40px;
}
.avatar {
  display: inline-flex;
  gap: 1rem;
}
.text-up-down {
  display: inline-flex;
  flex-direction: column;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-content {
  margin-top: 8rem;
}
.container {
  width: 90%;
  margin: 0 auto;
  background: #ffffff;
}

.card-wraper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 5rem;
}
.cards {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background: #c7c6c6;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  cursor: pointer;
}
/* @media screen and (min-width: 768px) and (max-width: 1024px) {
  .card-wraper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1px) and (max-width: 768px) {
  .card-wraper {
    grid-template-columns: repeat(1, 1fr);
  }
} */

.aboutus {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contactus {
  width: 80%;
  margin: 0 auto;
}

.about-head {
  margin-top: 120px;
  display: inline-flex;
  flex-direction: row;
  justify-content: end;
}
.contact-content {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-content form {
  margin-bottom: 17rem;
}
.contact-head {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: end;
  margin-bottom: 3rem;
}
.about-body {
  margin-top: 30px;
  margin-bottom: 300px;
  background-color: #d9d9d9;
  /* margin-bottom: 400px; */
  padding: 50px;
}
.contact-email {
  background: #d9d9d9;
  color: black;
  width: 375px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}
.contact-email .contact-email-icon {
  width: 30px;
  height: 30px;
}
.contact-email input {
  background: transparent;
  height: 30px;
  width: 20rem;
  border: none;
  outline: none;
  transition: 0.3s;
  border-bottom: 2px solid #413d3d;
}
.contact-email input:focus {
  color: #000;
  border: none;
  outline: none;
  border-bottom: 2px solid #413d3d;
}
.contact-message {
  background: #d9d9d9;
  color: black;
  width: 375px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  margin-top: 1rem;
}
.contact-message-icon {
  width: 30px;
  height: 30px;
}

.contact-message input {
  background: transparent;
  height: 30px;
  width: 20rem;
  border: none;
  outline: none;
  transition: 0.3s;
  border-bottom: 2px solid #413d3d;
}
.contact-message input:focus {
  color: #000;
  border: none;
  outline: none;
  border-bottom: 2px solid #413d3d;
}
.contact-button {
  background: #f79918;
  color: black;
  width: 375px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  margin-top: 3rem;
  cursor: pointer;
}
.contact-button-send {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.login {
  height: 76vh;
}
.login-username {
  background: transparent;
  color: black;
  width: 450px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  /* border-radius: 12px; */
  margin-top: 1rem;
  border-bottom: 2px solid #000;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 18rem;
}
.login-header {
  background: linear-gradient(
    to right,
    rgba(247, 153, 24, 1) 5%,
    rgba(247, 153, 24, 0) 100%
  );
  color: black;
  width: 450px;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top-right-radius: 49px;
  margin-top: 1rem;
}
.login-header p {
  margin-right: 1rem;
}
.click-to-register {
  color: #f79918;
  text-decoration: underline;
  border-bottom: 1px solid #000;
}
.click-to-register a {
  text-decoration: none;
  color: #f79918;
}
.login-username input {
  width: 100%;
  margin-bottom: 0.2rem;
  border: none;
  outline: none;
}
.login-username input:focus {
  border: none;
  outline: none;
  color: #000;
}
.login-password {
  background: transparent;
  color: black;
  width: 450px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  /* border-radius: 12px; */
  margin-top: 1rem;
  border-bottom: 2px solid #000;
}
.login-password input {
  width: 100%;
  width: 100%;
  margin-bottom: 0.2rem;
  border: none;
  outline: none;
}
.login-password input:focus {
  border: none;
  outline: none;
  color: #000;
}
.login-password-hide-icon {
  width: 30px;
  height: 30px;
}
.forgot-password {
  background: transparent;
  color: black;
  width: 450px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: end;
  border-radius: 12px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.forgot-password a {
  border-bottom: 1px solid #f79918;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}
.login-button {
  background: #f79918;
  color: black;
  width: 450px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  margin-top: 1rem;
  cursor: pointer;
  box-shadow: 12px 7px 13px 0px rgba(0, 0, 0, 0.75);
}
.register-button {
  margin-top: 6rem;
}

/* Responsive Styles for Phones and Tablets */
@media screen and (min-width: 1px) and (max-width: 490px) {
  .nav {
    color: #f79918;
    font-size: 20px;
    height: auto; /* Adjust height for mobile devices */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 0; /* Remove the padding for mobile devices */
  }

  .icons {
    font-size: 28px;
    margin-top: 15px; /* Add space between icons and search bar */
    display: none;
  }

  .search-container {
    font-size: 40px;
    width: 100%;
    margin-right: 1rem;
    display: none;
  }

  .nameOfBanner {
    font-size: 15px;
    display: none;
  }
  .card-wraper {
    grid-template-columns: repeat(1, 1fr);
  }
  .about-head {
    margin-top: 41px;
  }
}

@media screen and (min-width: 376px) and (max-width: 768px) {
  .nav {
    color: #f79918;
    font-size: 20px;
    height: auto; /* Adjust height for mobile devices */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 0; /* Remove the padding for mobile devices */
  }

  .icons {
    font-size: 28px;
    margin-top: 15px; /* Add space between icons and search bar */
    display: none;
  }

  .search-container {
    font-size: 40px;
    width: 100%;
    margin-right: 1rem;
  }

  h2 {
    font-size: 15px;
  }
  .card-wraper {
    grid-template-columns: repeat(1, 1fr);
  }
  .about-head {
    margin-top: 41px;
  }

  /* Add mobile-specific styles here */
}
/* Responsive Styles for iPads (Portrait and Landscape) */
@media screen and (min-width: 750px) and (max-width: 1024px) {
  .nav {
    /* color: #f79918; */
    font-size: 20px;
    height: auto; /* Adjust height for mobile devices */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 0; /* Remove the padding for mobile devices */
  }
  .card-wraper {
    grid-template-columns: repeat(2, 1fr);
  }
  .iconfa {
    color: #f79918;
  }
}
